@page "/"

<h1>Hello, world!</h1>

<ShoppingCart.UI.Components.ShoppingSelect SoftwareUnitPrice="299"
										   OptionUnitPrice="99"
										   ModuleUnitPrice="79"
										   TrainingUnitPrice="75" />
